*.Rhistory
*.pdf
*.zip
fwdjsmodel*
trackLogs*/*
gpx*/*
*.html
Old/readme.html
!readme.html
spatCov/*
reports/*
Old/jagsOut/*
predictionOutput/*
predict_grid*
modelOutputs/*
Old/oneMilTest.Rdata
images/old/*